.btn-holder {
    text-align: center;
    border: 2px solid;
    margin-top: 18px;
    .btn-plain {
	font-size: 1em;
        font-weight: 600;
        padding: 5px 30px 5px 30px;

        @media screen and #{$screen-below-lg} {
            font-size: 0.9em;
            padding: 5px 15px 5px 30px;
        }
    }
}

.border-blue {
    border: 2px solid;
    border-color: $simrishamn-blue;
    a {
        color: $simrishamn-blue;
    }
}

.border-green {
    border-color: $simrishamn-green;
    a {
        color: $simrishamn-green;
    }
}
