$colors: (
    lightblue #2699ad,
    darkblue #0069b3,
    orange #e56526,
    cerice #dc167a,
);

$simrishamn-blue: #0069b3;
$simrishamn-medium-blue: #C8E0F5;
$simrishamn-light-blue: #85b7da;
$simrishamn-extra-light-blue: #EFF6FC;
$simrishamn-dark-blue: #054877;
$simrishamn-orange: #e56526;
$simrishamn-light-orange: #FFB273;
$simrishamn-red: #E20714;
$simrishamn-light-red: #EE6A72;
$simrishamn-green: #44711B;
$simrishamn-medium-green: #8FAA76;
$simrishamn-light-green: #e2e9dc;
$simrishamn-white: #fff;
$simrishamn-gray: #EFEFEF;
$simrishamn-dark-gray: #666666;
$simrishamn-darker-gray: #333333;
$simrishamn-black: #000000;

$simrishamn-menu-dark-grey: #494848;
$simrishamn-menu-medium-grey: #656464;
$simrishamn-menu-light-grey: #848484;
$simrishamn-menu-active-grey: #B2B2B1;

$simrishamn-colorbar-green: $simrishamn-green;
$simrishamn-colorbar-orange: $simrishamn-light-orange;
$simrishamn-colorbar-blue: $simrishamn-blue;
$simrishamn-colorbar-red: $simrishamn-red;

$black: $simrishamn-black;
$blue: $simrishamn-blue;
$base-font-color: #252525;
$box-margin: 4px;
