#archive-filter .postform {
    padding-bottom: 1px;
    padding-top: 4px;
}

.archive-content-wrapper {
    @media screen and #{$screen-below-lg} {
        order: 3;
    }
}

.post-horizontal__image-container {
    max-width: 33% !important;
}
.post-horizontal__image {
    min-height: 150px;
}
