.main-footer {
    margin-top: 0px !important;
    padding-top: 5px;
    background-color: $simrishamn-white;
    
    .container {

    }

    .sidebar-footer-area {
        margin-top: 25px;

        .grid-md-4 {

        }

        .contact-box {
            margin-bottom: 35px;

            h4 {
                    font-size: 16px;
                    color: black;
                    font-family: 'Open Sans', serif;
                    padding-bottom: 0;
            }
        }
    }
}

div .widget_media_image {
    padding-bottom: 0;
    margin-bottom: -8px;
}

.color-bars {
    display: flex;
    width: 100%;
    padding: 0;
    height: 8px;

    div {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 25%;

        &.color-1 {
            background-color: $simrishamn-colorbar-green;
        }
        &.color-2 {
            background-color: $simrishamn-colorbar-orange;
        }
        &.color-3 {
            background-color: $simrishamn-colorbar-blue;
        }
        &.color-4 {
            background-color: $simrishamn-colorbar-red;
        }
    }
}

.main-footer .logotype img, .main-footer .logotype svg {
    height: 200px;
}
