.footer-container {
    overflow: hidden;
}

.main-footer {
    margin-top: 0px !important;
    padding-top: 5px;
    background-color: $simrishamn-white;

    .container {
	max-width: 1300px;
    }

    .sidebar-footer-area {
        margin-top: 25px;

        h3 {
            font-size: 1.2rem;
            color: black;
            font-family: 'Open Sans', serif;
        }

        .grid-md-4 {

        }

        .contact-box {
            margin-bottom: 10px;

            h4 {
                font-size: 14px;
                color: black;
                font-family: 'Open Sans', serif;
                padding-bottom: 0;
            }

        }

	.social-box {
	    margin-left: 0px;
	    margin-top: 30px;
	}

        .icons-list {
            text-align: left;

            li {
                margin-right: 1em;

                a {
                    font-size: 1.5em;
                    color: #0069b4;
                }
            }
        }

	.logo-container {
	    max-width: 275px;

	    text-align: center;
	    margin-right: 10px;

	    .logotype {
		max-width: 100%;
	    }
	}
    }
}


div .widget_media_image {
    padding-bottom: 0;
    margin-bottom: -8px;
}

.color-bars {
    display: flex;
    width: 100%;
    padding: 0;
    height: 8px;

    div {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 25%;

        &.color-1 {
            background-color: $simrishamn-colorbar-green;
        }
        &.color-2 {
            background-color: $simrishamn-colorbar-orange;
        }
        &.color-3 {
            background-color: $simrishamn-colorbar-blue;
        }
        &.color-4 {
            background-color: $simrishamn-colorbar-red;
        }
    }
}

.main-footer .logotype img, .main-footer .logotype svg {
    height: 200px;
}
