header#site-header {
    .customizer-header-top {
        line-height: 2.6;
        background: $simrishamn-blue;
        box-shadow: 0 1px 2px 2px rgba(#000, 0.4);
        position: relative;
        z-index: 1;

        @media screen and #{$screen-below-md} {
            display: none;
        }

        .container {
            padding: 0;

            .grid.c-header__body {
                height: 130px;

                > div {
                    &:nth-child(1) {
                        display: block;
                        width: auto;
                    }

                    &:nth-child(1),
                    &:nth-child(2) {
                        justify-content: flex-start;
                    }

                    &:nth-child(3) {
                        justify-content: flex-end;

                        .search {
                            justify-content: flex-end;
                            margin-bottom: 15px;
                            font-size: 12px;
                            padding: 40px 40px 0px 20px;
                        }
                    }
                }
            }
        }

        .widget_text {
            h3 {
                text-transform: uppercase;
                font-size: 19px;
                line-height: 24px;
                font-weight: 400;
                color: $simrishamn-white;
            }
        }

        .widget_search,
        .search-top {
            margin: 0;
            width: auto;

            ::-moz-placeholder {
                color: black;
                opacity: 1;
            }

            form {
                padding: 0;
            }

            .input-group {
                width: 300px;

                ::placeholder {
                    opacity: 1;
                }

                @media screen and #{$screen-md-up} {
                    max-width: 350px;
                }
            }

            .input-group-addon-btn {
                .btn {
                    background: #fff;
                    color: $simrishamn-blue;
                    font-size: 14px;
                    margin-bottom: 5px;

                    &:hover,
                    &:focus {
                        background: $simrishamn-gray;
                    }
                }
            }

            .search {
                display: flex;
                flex-wrap: no-wrap;
                align-items: center;
                margin: -15px;
            }
        }
    }

    .customizer-header-primary {
        color: $simrishamn-black;
        background-color: $simrishamn-menu-background-blue;
        padding: 5px 0px 10px;
        height: 70px;

        .container {
            width: 100%;
        }

        a {
            color: $simrishamn-black;
        }

        .grid {
            padding: 0;
        }

        [class*="widget-header-menu"] {
            @media screen and #{$screen-below-md} {
                display: none;
            }
        }

        [class*="widget-header-logo"] {
            @media screen and #{$screen-md-up} {
                display: none;
            }
            a {
                width: 70px;
            }
        }

        [class*="widget-header-links"] {
            @media screen and #{$screen-md-up} {
                display: none;
            }

            padding-right: 0;
            padding-left: 0;
            margin: 0;
            max-height: 65px;
            max-width: 55px;
            font-size: 14px;


            .c-navbar--header-widget-links {
                margin: 0;
                max-height: $top-header-height;

                &.c-navbar {
                    margin-right: 0;
                }

                button {
                    padding: 2px 10px 5px;

                    // Mobile
                    @media screen and #{$screen-below-md} {
                        padding: 25px 10px 15px;
                    }
                }

                // Desktop
                @media screen and #{$screen-md-up} {
                    .menu-trigger {
                        &.is-active {
                            .hamburger-inner {
                                transform: none !important;

                                &:before {
                                    transform: none !important;
                                    opacity: 1;
                                }
                                &:after {
                                    transform: none !important;
                                }
                            }
                        }
                    }
                }

                .js-search-trigger {

                    &::before {
                        font-size: 25px;
                        top: 6px;
                        position: relative;
                    }


                    // Mobile
                    @media screen and #{$screen-below-md} {
                        &::before {
                            top: -5px;
                        }
                    }

                    .hamburger-box {
                        display: none;
                    }
                }

                .hamburger-box {
                    height: auto;
                    padding-bottom: 9px;
                    width: 28px;

                    .hamburger-inner {
                        &::before {
                            top: 9px;
                        }
                        &::after {
                            top: 18px;
                        }
                    }
                    .hamburger-inner,
                    .hamburger-inner::before,
                    .hamburger-inner::after {
                        height: 4px;
                        width: 30px;
                    }

                    // Mobile
                    @media screen and #{$screen-below-md} {
                        .hamburger-inner {
                            top: -11px;
                        }
                    }
                }

                .hamburger--slider.is-active .hamburger-inner {
                    transform: translate3d(0, 9px, 0) rotate(45deg);

                    &::after {
                        transform: translate3d(0, -17px, 0) rotate(-90deg);
                    }
                }

                .hamburger-label {
                    display: block;
                }

                .hamburger-label,
                .c-navbar__item_button--search::after {
                    font-size: 11px;
                    text-transform: uppercase;
                    display: none;
                }
            }
        }
    }
}

&.search-is-open {
    .c-header__item--left {
        .widget_search {
            display: flex;
        }
    }
}


/* --- Logo --- */
.c-header__logo.t-municipio a {
    @media screen and #{$screen-md-up} {
        position: relative;
        width: 82px;
        max-width: 100%;
    }
}

.c-header__logo {
    a {
        display: block;
    }

    img,
    svg {
        height: auto;
        width: 100%;
        display: block;
    }
}

/* --- Navbar --- */
nav {
    &:not(#mobile-menu) {
        margin-left: 5%;
    }

    .c-navbar {
        margin:-5px -15px -15px -15px;
    }

    .c-navbar .c-navbar__item {
        display: table;
        height: 70px;

        a {
            text-align: center;
            word-break: break-word;
            font-size: 18px;
            line-height: 1.1;
            font-weight: 500;
            padding: 10px 13px;
            max-width: 157px;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            bottom: 0;

            @media screen and #{$screen-below-lg} {
                padding-left: 5px;
                padding-right: 5px;
            }

            @media screen and (max-width: 1040px) {
                font-size: 16px;
            }

            @media screen and (max-width: 970px) {
                font-size: 14px;
                margin-top: 4px;
                padding-bottom: 12px;
            }
        }
    }
}

.c-navbar .c-navbar__item a:hover:not(.is-current),
.c-navbar .c-navbar__item.is-current a,
.c-navbar .c-navbar__item a:hover:not(.is-current),
.c-navbar .c-navbar__item.is-current-ancestor a {
    background-color: $simrishamn-pale-blue;
    text-decoration: none;
}

.c-navbar .c-navbar__item.is-current::after,
.c-navbar .c-navbar__item.is-current-ancestor:not(.c-navbar__sub)::after,
.c-navbar .c-navbar__item.is-current::after {
    display: none;
}

.global-notice {
    .clear-below {
        margin-bottom: 30px;
    }

    a {
        color: white;
        text-decoration: underline;
    }
}
