/* === Header === */
.c-header--top {
    line-height: 2.6;

    .c-header__logo.t-municipio a {
	padding-top: 0px !important;
    }

    .widget_search,
    .search-top {
        margin: 0;
        width: auto;
        padding: 40px 40px 0px 20px;

	::-moz-placeholder {
	    color: black;
	    opacity: 1;
	}

        form {
            padding: 0;
        }

        .input-group {
            @media screen and #{$screen-md-up} {
                max-width: 350px;
            }
	    width: 300px;
	    ::placeholder {
		opacity: 1;
	    }

        }

        .input-group-addon-btn {
            .btn {
                background: #fff;
		color: $simrishamn-blue;
		font-size: 14px;
		margin-bottom: 5px;

                &:hover,
                &:focus {
                    background: $simrishamn-gray;
                }
            }
        }

        .search {
            display: flex;
            flex-wrap: no-wrap;
            align-items: center;
            margin: -15px;
        }
    }

    .c-header__row {
        padding: 0;
    }
}

.c-site-header {
    .clear-below {
	margin-bottom: 30px;
    }

    .c-navbar--header-widget-links {
        margin: 0;
        max-height: $top-header-height;

        &.c-navbar {
            margin-right: 0;
        }

        button {
            padding: 2px 20px 5px;

            // Mobile
            @media screen and #{$screen-below-md} {
                padding: 27px 15px 18px;
            }
        }

        // Desktop
        @media screen and #{$screen-md-up} {
            .menu-trigger {
                &.is-active {
                    .hamburger-inner {
                        transform: none !important;

                        &:before {
                            transform: none !important;
                            opacity: 1;
                        }
                        &:after {
                            transform: none !important;
                        }
                    }
                }
            }
        }

        .c-navbar__item_button--search {

            &::before {
                font-size: 25px;
                top: 6px;
                position: relative;
            }
            &::after {
                content: 'Sök';
                display: block;
            }

            // Mobile
            @media screen and #{$screen-below-md} {
                &::before {
                    top: -5px;
                }
            }

            .hamburger-label {
                display: none;
            }
            .hamburger-inner {
                margin-left: -1px;
            }

            .hamburger-box {
                opacity: 1;
            }

            &:not(.is-active) {
                .hamburger-box {
                    display: none;
                    opacity: 0;
                }
            }

            &.is-active {
                border-radius: 0;

                &::before {
                    opacity: 0;
                    position: absolute;
                }
                &::after {
                    content: 'Stäng';
                }
            }
        }

        .hamburger-box {
            height: auto;
            padding-bottom: 9px;
            width: 28px;

            .hamburger-inner {
                &::before {
                    top: 9px;
                }
                &::after {
                    top: 18px;
                }
            }
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                height: 4px;
                width: 30px;
            }

            // Mobile
            @media screen and #{$screen-below-md} {
                .hamburger-inner {
                    top: -11px;
                }
            }
        }

        .hamburger--slider.is-active .hamburger-inner {
            transform: translate3d(0, 9px, 0) rotate(45deg);

            &::after {
                transform: translate3d(0, -17px, 0) rotate(-90deg);
            }
        }

        .hamburger-label {
            display: block;
        }
        .hamburger-label,
        .c-navbar__item_button--search::after {
            font-size: 11px;
            text-transform: uppercase;
	    display: none;
        }
    }
}

// Only for desktop header
.c-header--top {
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;

    .c-header__row {
	height: 130px;
    }

    .c-navbar--header-widget-links {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #fff;
        }
    }

    .c-navbar__item_button--search {
        &.is-active {
            background: $simrishamn-dark-blue;
        }
    }

    .widget_text {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 45px;

	h3 {
	    margin-left: 15px;
	    font-weight: 400;
	}
    }
}


// Mobile header / desktop content header
.c-header--primary {
    position: relative;

    .c-header__row {
        padding: 5px 25px 15px;
    }

    .widget_text {
        margin-bottom: 0;
        margin-left: 12px;

        h3 {
            padding-bottom: 0;
            font-weight: 400;
        }
    }

    // Mobile
    @media screen and #{$screen-below-md} {
        .c-header__row {
            padding: 5px 0;
            margin: 0 15px;
        }
    }

    // Desktop
    @media screen and #{$screen-md-up} {
        &.c-header--customizer {

        }
    }
}

&.search-is-open {
    .c-header__item--left {
        .widget_search {
            display: flex;
        }
    }
}


/* --- Logo --- */
.c-header__logo.t-municipio a {
    @media screen and #{$screen-md-up} {
        position: relative;
        width: 82px;
        max-width: 100%;
    }
}

/* --- Navbar --- */
nav .c-navbar .c-navbar__item {
    height: 45px;
    max-width: 140px;

    a {
        text-align: center;
        word-break: break-word;
	font-size: 18px;
	line-height: 1.1;
	font-weight: 500;
	padding: 7px;
	padding-bottom: 8px;

	@media screen and #{$screen-below-lg} {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	@media screen and (max-width: 900px) {
	    font-size: 14px;
	    margin-top: 4px;
	    padding-bottom: 12px;
	}
    }
}

// Hide the extra search trigger by default
#nav-search {
    visibility: hidden;
}

.c-navbar .c-navbar__item a:hover:not(.is-current),
.c-navbar .c-navbar__item.is-current a,
.c-navbar .c-navbar__item a:hover:not(.is-current),
.c-navbar .c-navbar__item.is-current-ancestor a {
    background-color: $simrishamn-pale-blue;
    text-decoration: none;
}

.c-navbar .c-navbar__item.is-current::after,
.c-navbar .c-navbar__item.is-current-ancestor:not(.c-navbar__sub)::after,
.c-navbar .c-navbar__item.is-current::after {
    display: none;
}

/* --- Search --- */
.c-header__item.c-header__item--right {
    // Search Widget
    [class^="widget_"]:not(.widget_calendar) {
        margin-bottom: 0px;
        margin-top: -5px;
    }

    // Search Form
    [class^="widget_"]:not(.widget_calendar) :not(.main-footer) form {
        padding: 10px;
        height: 35px;
    }
    .search {
        margin-bottom: 15px;
        font-size: 12px;
    }
}

.global-notice {
    .clear-below {
	margin-bottom: 30px;
    }

    a {
        color: white;
        text-decoration: underline;
}
}
