.main-content {
    .main-container {

        .page-footer,
        .post-footer {
            margin-bottom: 20px;
            border-top: 2px solid $breadcrumbs-background;
            padding: 15px 5px;

            .grid-table {
                .grid-xs-12 {
                    margin-bottom: 5px;
                }
            }

            .timestamps-container {
                margin-bottom: 15px;
            }

            .footer-print-container {
                margin-bottom: 15px;

                @media screen and #{$screen-md-up} {
                    text-align: right;
                }
            }

            .share-page-container {
                margin-top: 5px;
                margin-bottom: 15px;
            }

            .taxonomies-container {
                margin-bottom: 15px;
            }
        }
    }

    .post-date {
	   font-size: .85em;
	   color: #777;
    }

    .news-article {
        ol {
            margin-left: 0px;
            padding-left: 0px;
        }
        .breadcrumbs-wrapper {
            padding-left: 10px; // makes up for lost padding when only having two content containers in single.blade grid.
        }
    }


    .section-page {
	   h1 {
	       margin-left: 15px;
	   }

	   .content {
	       margin-bottom: 15px;
	       height: 50px;
	   }
    }
}