html {
    // Fixes color issues in footer when page is too "short".
    background: 000000;
    .sidebar-content-area {
        //background-color: #fff;
    }
}

html.video-is-playing {
    .scroll-down-please-icon,
    .scroll-down-please {
        display: none !important;
    }
}

p {
    word-wrap: break-word;
}

.admin-bar #site-header {
    @media screen and (max-width: 782px) {
        margin-top: 46px;
    }
    @media screen and (min-width: 783px) {
        margin-top: 32px;
    }
}

html.translated-ltr #site-header {
    top: 39px;
}

.clear-below {
    padding-bottom: 0 !important;

    div {
        margin-bottom: 0 !important;
        box-shadow: none !important;
    }
}

.title-blue {
    background-color: $simrishamn-blue !important;
    color: white;
}

.content-blue {
    background-color: $simrishamn-light-blue;
    color: white;
}

.title-light-blue {
    background-color: $simrishamn-medium-blue !important;
    color: black !important;
}

.content-light-blue {
    background-color: $simrishamn-extra-light-blue;
    .btn-holder .btn-plain {
        color: black !important;
        border-color: black !important;
    }
}

.title-green {
    background-color: $simrishamn-green !important;
    color: white;
}

.content-green {
    background-color: $simrishamn-medium-green;
    color: white;
}

.content-light-green {
    background-color: $simrishamn-light-green;
    color: white;
}

.title-red {
    background-color: $simrishamn-red !important;
    color: white;
}

.content-red {
    background-color: $simrishamn-light-red;
    color: white;
}

.title-orange {
    background-color: $simrishamn-orange !important;
    color: white;
}

.content-orange {
    background-color: $simrishamn-light-orange !important;
    color: white;
}

.title-gray {
    background-color: grey !important;
    color: black !important;
}

.content-gray {
    background-color: lightgrey;
    .btn-holder .btn-plain {
        color: black !important;
        border-color: black !important;
    }
}

.title-blue-gray {
    background-color: $simrishamn-blue !important;
}

.content-blue-gray {
    background-color: $simrishamn-gray;
}

.title-yellow {
    background-color: $simrishamn-pale-yellow;
    color: black;

    h4 {
        color: black;
    }
}

.truncate:hover {
    // same as on .truncate (i.e. not hover)
    background-color: inherit;
    width: 100%;
    overflow: hidden;
}
