/* === Inlay Index === */
.modularity-mod-inlay-index {
    font-weight: 500;
    box-shadow: none !important;

    .title {
        font-size: 17px;
    }

    a:hover .title {
        text-decoration: underline !important;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-right: 34px;

        &:after {
            font-family: FontAwesome;
            font-size: 24px;
            content: "\f061";
            color: #999;
            position: absolute;
            right: 6px;
            top: calc(50% - 10px);
        }
    }
}

.grid-md-12 {
    margin-bottom: 15px;
}

.modularity-mod-posts {
    margin-bottom: 20px;

    .box-title {
        padding: 15px 5px;
        color: $base-font-color;
    }
}
