/* === Inlay Index === */
.modularity-mod-inlay-index {
    font-weight: 500;
    box-shadow: none !important;

    a:hover .title {
        text-decoration: underline !important;
    }

    .box-content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-right: 34px;

        &:after {
            font-family: FontAwesome;
            font-size: 24px;
            content: "\f061";
            color: #999;
            position: absolute;
            right: 6px;
            top: calc(50% - 10px);
        }
    }
}

/* colored index */
.modularity-mod-colored-index {
    .grid > [class*="grid-"] {
        .box-panel {
            display: flex;
        }
    }
}

.block-title {
    text-align: center;
    h1 {
	color: $simrishamn-dark-gray;
	font-size: 36px;
	font-weight: 600;
	line-height: 49px;
    }
}

.modularity-mod-posts {
    margin-bottom: 20px;

    .box-title {
        padding: 15px 5px;
        color: $base-font-color;
    }

    .box .box-title {
        padding: 15px;
        color: #fff;
    }

    .accordion-content article {
        margin-bottom: 0;
    }
}

/* WordPress Widget */
.modularity-mod-wpwidget {
    .box {
        box-shadow: none !important;
    }
}

.modularity-mod-inlaylist {
    .box-panel.box-panel-secondary {
        > ul.nav {
            background: #fff;
        }
    }
}

.modularity-mod-iframe {
    .box-title {
        color: $base-font-color;
    }
}

.modularity-mod-image {

    .wp-caption-text {
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba($simrishamn-blue, 0.4);
        text-shadow: 0 0 20px #000;
        width: 100%;
    }
}

&:not(.home) .hero {
    // Desktop
    @media screen and #{$screen-md-up} {
        margin-top: -117px;

        .modularity-mod-image,
        .modularity-mod-slider {
            margin-bottom: -97px;
        }

        margin-bottom: 117px;
    }

    margin-bottom: 20px;
}