&.page,
&.single-post {

    .main-container {
        > .grid > [class*="grid-"] {
            padding-left: 10px;
            padding-right: 10px;
        }
        >.grid:not(.breadcrumbs-wrapper):not(.no-margin-top):first-child {

            // Desktop
            @media screen and #{$screen-md-up} {
                padding-top: 0;
            }
        }
    }

    article {
        background: #fff;
        padding: 18px;
        margin-bottom: 30px;

        &:not(.full) {
            max-width: none;
        }

        > h1 {
            padding: 10px 0;
        }
    }

    // Start page
    &.home {

        // Tablet
        @media screen and #{$screen-below-lg} {
            .hero {
                .slider,
                .slider::before {
                     padding-top: 30%;
                }
            }
        }

        // Mobile
        @media screen and #{$screen-below-md} {
            .hero {
                .slider,
                .slider::before {
                    padding-top: 50%;
                }
            }
        }

        // 900px (some default css we need to override)
        @media only screen and (max-width: 900px) {
            .hero .slider .slide {
                width: 100% !important;
            }
        }
    }
}

&.page,
&.page-child,
&.single-post {
    background: $body-background;
}
