/* === Mest Besokta === */
// fixme: temporary selector. Supposed to be its own module later
div.modularity-mod-inlaylist:nth-child(2) {
    .title:before {
	font-family: FontAwesome;
	content: "\f061";
	color: $simrishamn-blue;
	vertical-align: 0;
    }

    li {
	margin: $box-margin 0;
	background-color: #EFEFEF;
	a .title {
	    color: black !important;
	}
    }
}

.box {

    a, .link {
	text-decoration: none !important;
    }

    a:hover, a:focus, .link:hover, .link:focus {
	text-decoration: none !important;
    }
}

.box-panel > ul:not(.accordion) {
    border: none;
}

.box-panel {
    border: none;
}

.box-title {
    padding: 15px;
    width: 100%;
    background-color: $simrishamn-blue;
    color: white;
    font-weight: 500;
    font-size: 21px;
}

.box-content {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: $box-margin 0;
    padding: 10px 10px 15px 10px;

    .title {
	color: black;
	font-size: 17px;
    }

    p {
	margin-top: 10px;
    }
}

.inlay-index {
    box-shadow: none !important;

    .box-content {
	display: flex;
	padding-right: 5px;
    }

    .material-icons {
	margin: auto;
	padding-right: 5px;
	color: grey;
	font-size: 32px;
    }
}
