/* === Mest Besokta === */
// fixme: temporary selector. Supposed to be its own module later
div.modularity-mod-inlaylist:nth-child(2) {
    .title:before {
	font-family: FontAwesome;
	content: "\f061";
	color: $simrishamn-blue;
	vertical-align: 0;
    }

    li {
	margin: $box-margin 0;
	background-color: #EFEFEF;
	a .title {
	    color: black !important;
	}
    }
}

.box {
    box-shadow: none !important;
}

.box-panel > ul:not(.accordion) {
    border: none;
}

.box-panel {
    border: none;
}

.box-title {
    padding: 15px;
    width: 100%;
    background-color: $simrishamn-blue;
    color: white;
    font-family: "sans serif";
    font-weight: normal;
    font-size: 21px;
}

.box-content {
    font-size: 12px;
    line-height: 17px;
    font-family: "open sans";
    margin: $box-margin 0;
    padding: 15px 5px 15px 5px;
}
