.modularity-mod-teaser {
    margin-bottom: 20px;
}

.teaser-wrapper {
    margin: 0 auto;
    margin-top: -10px;

    @media screen and (max-width: 961px) {
        margin-top: 10px;
    }

    .teaser-block {
        max-height: 100%;

        a {
            text-decoration: none;
            max-width: 95%;
            margin: 0 auto;
        }

        .box-panel {
            height: 100%;
            margin-bottom: 0px;
        }

        .teaser-content {
            text-align: left;

            h4 {
                margin-left: 5px;
                margin-top: 5px;
                font-size: 18px;
                background-color: transparent;
            }

            p {
                padding: 0px 20px 30px 20px;
                font-size: 15px;
            }
        }
    }

    img {
        min-width: 100%;
        max-width: 100%;
        max-height: 165px;
        min-height: 165px;
    }

}
