.input-group {
    .input-group-addon {
        background-color: #fff;
        border: none;
    }

    .input-group-addon-btn {
        padding-left: 10px;
    }

    .form-control {
        // IE Bugfix. Stops the input value from rendering
        // according to original height value of input field.
        line-height: 1px;
    }
}
