.box {

    a, .link {
        text-decoration: none !important;
    }

    a:hover, a:focus, .link:hover, .link:focus {
        text-decoration: none !important;
    }
}

.box-panel > ul:not(.accordion) {
    border: none;
}

.box-panel {
    border: none;
    font-family: 'Open Sans', serif !important;
}

.box-title {
    font-family: 'Open Sans', serif !important;
    padding: 15px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 21px;
}

.box-content {
    font-family: 'Open Sans', serif !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: $box-margin 0;
    padding: 15px 10px;

    .title {
        color: black;
        font-size: 17px;
    }

    p {
        margin-top: 10px;
    }
}


/* === Action Cards === */
.modularity-mod-action-card {
    margin-bottom: 45px;

    .box-action {
        margin-bottom: 0;
    }
}

.box-action {
    border: none;
    box-shadow: none !important;

    .box-content {
        background-color: $simrishamn-light-blue !important;
        text-align: center;
        padding: 15px 5px;
    }

    .fa {
        font-size: 56px;
        color: $simrishamn-blue;
        margin-top: 0px;
    }

    .box-action-title {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 0;
        margin-top: 0px;
    }
}


/* === Mest Besokta med mera === */
.box-panel {
    li {
        margin: $box-margin 0;

        a {
            width: 100%;

            .title {
                color: black !important;
                left: 0;

                &:before {
                    content: none;
                }
                &:after {
                    font-family: FontAwesome;
                    content: "\f061";
                    color: $simrishamn-blue;
                    vertical-align: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

.creamy {
    border: none;
}

.sidebar-content-area {
    padding-bottom: 30px;
}

.sidebar-content-area-bottom .box {
    margin-bottom: 0px;
}

.sidebar-bottom-fullwidth .box {
    margin-bottom: 0px;
}

.sidebar-content-area-bottom {
    padding: 0;
    margin: auto;
    .grid {
        margin-left: 0;
        margin-right: 0;
        height: 100%;

        > [class*="grid-"] {
            padding-left: 0;
            padding-right: 0;
        }

        // The first link box
        .modularity-mod-inlaylist {
            .box-title {
                background: $simrishamn-orange;
                border-bottom: 1px solid white;
                font-weight: 400;
                font-size: 20px;
            }
            .nav {
                padding-bottom: 15px;
                background: $simrishamn-light-orange;
                li {
                    margin: 0;
                    border: none;
                    background: $simrishamn-light-orange;
                    .title {
                        color: white !important;
                        font-size: 20px !important;
                        &:after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}
