.stripe {
    display: none;
}

.has-stripe.has-stripe {
    padding-left: 0;
}

.box-stripe {
    position: absolute;
    margin-top: 30px;
    padding: 4px 10px 4px 10px;
    background-color: $simrishamn-menu-active-grey;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
