.slider .text-block {
    width: 30em;

    @media screen and #{$screen-below-md} {
        width: 100%;
    }

    top: 0;
    right: auto;
    bottom: 0;
    left: 0;

    &, &.text-block-center {
        background-image: none;
        background-color: rgba($simrishamn-blue, 0.4) !important;
    }

    span .title {
        font-size: 16pt;
    }

    span {
        font-size: 36pt;

        @media screen and #{$screen-below-sm} {
            font-size: 24pt;
        }
    }
}
