.slider .text-block {
    text-align: left;

    top: auto;
    bottom: 0;
    background-image: none;
    background-color: rgba($simrishamn-blue, 0.8) !important;

    &.text-block-transparent  {
	background-image: none;
	background-color: transparent !important;
    }

    .text-block-content {
	font-size: 12pt;
	width: 95%;
	max-width: 1240px;
	margin: 0 auto;

        @media screen and #{$screen-below-sm} {
            font-size: 10pt;
        }
    }

    & .title {
        font-size: 25pt;
	margin-top: -10px;
        @media screen and #{$screen-below-sm} {
            font-size: 20pt;
        }
    }

    & p {
	padding-bottom: 20px;
	max-width: 60%;
	@media screen and #{$screen-below-md} {
	    max-width: 100%;
        }
    }
}

&.no-js .slider li:first-child {
    display: inline-block;
}
