.news-grid .grid-md-6 {
    padding-right: 5px;
    .box-post-brick {
	margin-bottom: 10px;
	padding-bottom: 75%;
    }
    .index-content {
	p {
	    line-height: 1.2;
	    font-size: 16px;
	    padding: 20px 20px 0 20px;
	    @media screen and #{$screen-below-lg} {
		padding: 0px 20px 0 20px;
	    }
	}
	.btn-holder {
	    padding-top: 0px;
	    .btn-plain {
		margin-top: 15px;
	    }
	}
	.brick-container {
	    position: absolute;
	    margin-top: 10%;
	}
    }
}
