.accordion {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    background-color: $simrishamn-gray;
    border-radius: 0px;
}

.accordion-table-head {
    box-shadow: 0 2px 3px rgba(0,0,0,0.08);
    background-color: $simrishamn-gray;
    color: $simrishamn-dark-gray;
    padding: 10px 10px;

    .column-header {
        text-align: center;
    }
}

.accordion-section {
    border: 0;
    margin-bottom: 5px;
}

.accordion-search {
    border: 0px;
    box-shadow: 0px;
    background-color: $simrishamn-gray;
    padding: 8px;

    input:not([type="checkbox"]):not([type="radio"]) {
        border-radius: 0px;
        border: 0px;
    }
}

.accordion-toggle {
    $paddingX: 0px;
    $paddingY: 15px;

    height: 75px;
    padding: $paddingX $paddingY;
    background: $simrishamn-blue;
    color: $simrishamn-white;

    z-index: 1;
    outline: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        font-weight: 800;
        font-size: 18px;
    }

    &::before {
        position: absolute;
        right: $paddingY;
        font-family: 'FontAwesome';
        color: $simrishamn-white;
        content: '\f067';
    }

    &.minus::before {
        content: '\f068';
    }

    .column-header {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding-right: calc(#{$paddingY} * 2 + 2em);
    }
}

.accordion-content {
    font-size: 15px;
}
