.color-bars {
    background-color: #72b6c1;

    .color-1,
    .color-2,
    .color-3,
    .color-4 {
        display: none;
    }
}

.main-footer {
    .logotype {
        span.h1 {
            color: #72b6c1;
        }
    }
}
