article .infobox,
body#tinymce .infobox {
    color: $simrishamn-white;
    text-shadow: 0px 0px 2px $simrishamn-blue;
    background: #0069B3;
    margin: 15px 0px 5px 10px;
    padding: 10px 10px;
    display: block;
    float: right;
    width: 300px;

    @media screen and #{$screen-below-md} {
        width: 100%;
        float: none;
        margin: 15px 0px;
    }
}
